<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Grid Self</title>

  <link rel="stylesheet" href="../style/style.css">
  <link rel="stylesheet" href="../style/grid-content.css">
  <link rel="stylesheet" href="../style/grid-self.css">


  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body id="grid-content-page">
  <div id="container">
    <header></header>
    <footer></footer>
    <main>
      <div class="topic">
        <h2>Posicionamento Grid Self</h2>

        <div class="container-grid">
          <div class="grid-content">
            <div class="item1"></div>
            <div class="item2"></div>
            <div class="item3"></div>
            <div class="item4"></div>
            <div class="item5"></div>
            <div class="item6"></div>
            <div class="item7"></div>
            <div class="item8"></div>
            <div class="item9"></div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>